@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --color-1: #2C3333;
    --color-2: #395B64;
    --color-3: #A5C9CA;
    --color-4: #E7F6F2;
}

body {
    background-color: var(--color-1);
    color: var(--color-4);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    font-family: var(--font-family);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

.mensagem {
    font-size: 1.5rem;
}

.box {
    display: inline-block;
    border: 3px solid var(--color-2);
    border-radius: .25rem;
    font-size: 3rem;
    padding: .5rem;
    margin: 1rem 0;
}

.icon-color {
    color: var(--color-3);
}

.btn-jogar {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem;
    border: 0;
    border-radius: .5rem;
    background-color: var(--color-2);
    color: var(--color-4);
}