*{
	box-sizing: border-box;
}

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.cabecalho{
	background-color: #333;
	color: #FFF;
}

.cabecalho__titulo{
	font-size: 2em;
	padding: .5em 0;
	width: 60%;
	margin: 0 auto;
}

.container{
	width: 60%;
	margin: 2em auto;
	overflow: hidden;
}

.container__titulo{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

.tabela{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

.paciente td, .tabela__titulo {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
}

.tabela__titulo{
	font-weight: bold;
	background-color: #EEE;
}

.formulario__label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.formulario__field{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

.botao{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	min-width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;
}

.botao:active{
	margin-top:0px;
	border: 0;
}

.botao[disabled=disabled], .botao:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.form-adiciona__erro {
	color: gray;
}

.paciente-invalido {
	background-color: #FEBFC6;
}

.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

#mensagens-erro{
    color: red;
}

#filtrar-tabela {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel {
	display: none;
}

@media screen and (max-width: 1024px) {
	.formulario__field{
		width: 49.5%;
	}
}

@media screen and (max-width: 768px) {
	.cabecalho{
		margin-bottom: 2em;
	}

	.cabecalho__titulo{
		width: 100%;
		text-align: center;
	}

	.container{
		width: 90%;
		margin: 0 auto 2em auto;
	}

	.container__titulo{
		font-size: 1.5em;
		font-weight: 700;
	}

	.paciente td, .tabela__titulo {
		padding: .7em 0;
	}

	.formulario__field{
		width: 100%;
	}
}