:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-botao: #167BF7;
    --azul-botao-efeito: #3C92FA ;
    --cor-de-fundo: #00030C;
    --font-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    align-items: center;
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--azul-botao);
    border-radius: 5px;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    text-decoration: none;
}

.container__botao:hover {
    background-color: var(--azul-botao-efeito);
    color: var(--cor-de-fundo);
}

.botao--secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.botao--secundario:hover {
    background-color: transparent;
    border: 2px solid var(--cinza-secundario);
    color: var(--cinza-secundario);
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.container__descricao {
    padding: 2em;
}

.descricao__titulo {
    color: var(--branco-principal);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: .1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.botao--menor {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    margin: 6em 10em;
    text-align: center;
}

.rodape__lista {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 2em 0;
}

.lista__link a {
    color: var(--branco-principal);
    text-decoration: none;
}

.lista__link a:hover {
    color: var(--azul-botao);
}

.lista__link a:active {
    color: darkblue;
}

.rodape__texto {
    color: var(--cinza-secundario);
    font-size: 14px;
    margin-bottom: 2em;
}

@media screen and (max-width: 768px) {
    .container {
        height: auto;
    }

    .principal {
        padding: 1rem;
    }

    .secundario {
        margin: 0 1em;
        padding: 2em 0;
    }

    .container__caixa {
        margin: 0 1em;
    }

    .container__imagem {
        width: 80vw;
    }

    .descricao__titulo {
        font-size: 28px;
    }

    .dispositivos {
        padding: 2em 1em;
    }
    .dispositivos__titulo {
        font-size: 28px;
    }

    .dispositivos__lista {
        flex-direction: column;
        margin: 2em 0;
    }

    .rodape {
        margin: 2em 1em;
    }
}